<div class="card d-flex d-flex-col p-2 justify-content-between" style="width: 100%; height: 100%; border-radius: 0.5rem; background-color: #1f1f1f; border-color: #5a5a5a;">
    <div class="align-self-start">
        <h5 class="card-title accent roboto-light mb-1">{{name}}</h5>
        <p class="card-text roboto-light mb-3" style="color:#868686">{{category}}</p>
    </div>
       
    <div>
        <p class="card-text roboto-light secondary mb-1">ID: {{id}}</p>
        <p class="card-text roboto-light secondary mb-1">{{price}} kr</p>
        <p class="card-text roboto-light secondary mb-1">Volume: {{volume}}</p>
        <p class="card-text roboto-light secondary">Stock: {{LGA}}</p>
    </div>
    
</div>
