<div class="container">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="search" class="form-label secondary">Search</label>
            <input type="text" class="form-control" id="search" placeholder="Search by name or (id:)" (input)="onNameFilterChange($event)">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label secondary">Category</label>
            <select id="inputState" [(ngModel)]="selectedCategory" class="form-select" name="categorySelect" (change)="onCategoryChange(selectedCategory)">
              <option selected value="">All Categories</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="inputmaxPrice" class="form-label secondary">Max Price</label>
            <input type="text" class="form-control" id="inputMaxPrice" (input)="onMaxPriceChange($event)">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label secondary">Sort by</label>
            <select id="inputState" [(ngModel)]="selectedSort" class="form-select" name="sortSelect" (change)="onSortChange(selectedSort)">
              <option selected value="">None</option>
              <option *ngFor="let sortby of sortByList" [value]="sortby">{{ sortby }}</option>
            </select>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input secondary" type="checkbox" id="gridCheck" (change)="onInStockChange($event)">
              <label class="form-check-label secondary" for="gridCheck">
                Show only products in stock
              </label>
            </div>
          </div>
    </form>
</div>