<div class="container">
    <form class="row g-3">
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Search by name" (input)="onNameFilterChange($event)">
            <input type="text" class="form-control" placeholder="Search by id" (input)="onIdFilterChange($event)">
        </div>
        <div class="col-auto">
            <input class="form-check-input" type="checkbox" id="inStockCheckbox" (change)="onInStockChange($event)">
            <label for="inStockCheckbox" class="form-label roboto-light secondary">In stock</label>

            <input type="range" id="maxPriceRange" min="0" max="10000" (input)="onMaxPriceChange($event)">
            <label for="maxPriceRange" class="roboto-light secondary">Maximum Price: {{displayPrice}}</label>
        </div>
        <label for="categorySelect">Category: </label>
        <select id="categorySelect" [(ngModel)]="selectedCategory" name="categorySelect" (change)="onCategoryChange(selectedCategory)">
            <option value="">All Categories</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
    </form>
</div>